/* App.css */
.app-container {
    text-align: center;
    margin-top: 50px;
}

.app-title {
    font-size: 2em;
    color: #333;
}

.app-description {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.navigation-link {
    margin: 0 10px;
    text-decoration: none;
}

.navigation-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.navigation-button:hover {
    background-color: #2980b9;
}