.word-input {
    display: flex;
    gap: 10px;
}

.word-input input {
    width: 30px;
    /* Set the width of the input boxes */
    height: 30px;
    /* Set the height of the input boxes */
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 40px;
    /* Add margin to separate the input boxes and buttons */
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Center the content vertically */
}

.input-block {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
}

.gray {
    background-color: gray;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}